<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.moore.ctravel.experience.mapper.ServiceTypeMapper">
	
<sql id="Column_List">
SERVICE_TYPE_ID
,SERVICE_NAME
</sql>
	<sql id="Where_Clause">
		<where>
<if test="condition.serviceTypeId != null" >AND SERVICE_TYPE_ID = #{serviceTypeId}</if>
<if test="condition.serviceName != null" >AND SERVICE_NAME = #{serviceName}</if>
    	</where>
	</sql>
	<select id="getById" resultType="ltd.moore.ctravel.experience.model.ServiceTypeVO" parameterType="String">
		select <include refid="Column_List" />
    	from PUB_SERVICE_TYPE where SERVICE_TYPE_ID = #{serviceTypeId}
	</select>
	<select id="getByServiceName" resultType="ltd.moore.ctravel.experience.model.ServiceTypeVO" parameterType="String">
		select <include refid="Column_List" />
		from PUB_SERVICE_TYPE where SERVICE_NAME = #{serviceName}
	</select>
	<select id="count" resultType="int" parameterType="map">
		select COUNT(1)
    	from PUB_SERVICE_TYPE
    	<include refid="Where_Clause" />
	</select>

	<select id="list" resultType="ltd.moore.ctravel.experience.model.ServiceTypeVO" parameterType="map">
		select <include refid="Column_List" />
    	from PUB_SERVICE_TYPE <include refid="Where_Clause" />
	</select>
	
<insert id="insert" parameterType="ltd.moore.ctravel.experience.model.ServiceTypeVO">
insert into PUB_SERVICE_TYPE (<include refid="Column_List" />)
values (
#{serviceTypeId}
,#{serviceName}
)
</insert>
	
<update id="update" parameterType="ltd.moore.ctravel.experience.model.ServiceTypeVO">
update PUB_SERVICE_TYPE
<set>
<if test="serviceTypeId != null" >SERVICE_TYPE_ID = #{serviceTypeId},</if>
<if test="serviceName != null" >SERVICE_NAME = #{serviceName},</if>
</set>
where SERVICE_TYPE_ID = #{serviceTypeId}
</update>
	
	<delete id="delete" parameterType="java.lang.String" >
		delete from PUB_SERVICE_TYPE  where SERVICE_TYPE_ID = #{serviceTypeId}
	</delete>
	
	<delete id="deleteInBulk" parameterType="java.lang.String">
		delete from PUB_SERVICE_TYPE  where SERVICE_TYPE_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
</mapper>