

    <style>
        body{
            background:#f2f2f2;
            font-family:"Microsoft YaHei";
        }
        .fl{float:left;}
        .fr{float:right;}
        .clearfix{
            overflow:hidden;
        .zoom:1;
        }
        .personal_head{
            height:1.4rem;
            line-height:1.4rem;
            padding:0 0.2rem;
            background:#fff;
            border-bottom:solid 0.02rem #f2f2f2;
            font-size:0.26rem;
            color:#555;
            margin-top:0.1rem;
        }
        .personal_head img{
            width:0.8rem;
            height:0.8rem;
            float:right;
            line-height:1.4rem;
            padding-top:0.3rem;
        }
        ul{
            background:#fff;
        }
        ul li{
            line-height:1rem;
            border-bottom:solid 0.01rem #f2f2f2;
            padding:0 0.2rem;
            overflow:hidden;
            .zoom:1;
        }
        ul li span{
            float:left;
            font-size:0.26rem;
            color:#555;
        }
        ul li p{
            float:right;
            font-size:0.28rem;
            color:#333;
        }
        .btn{
            margin:0.8rem 0.2rem 0rem;
            background:#0F88EB;
            color:#fff;
            font-size:0.3rem;
            line-height:1rem;
            text-align:center;
            border-radius:0.1rem;
        }
    </style>
<div class="container">
    <div class="personal_head">
        <span>头像</span>
        <img src="img/head.png">
    </div>
    <ul>
        <li>
            <span>姓名</span>
            <p>Hidy</p>
        </li>
        <li>
            <span>出生日期</span>
            <p>2017年5月</p>
        </li>
        <li>
            <span>现居住城市</span>
            <p>湖北省-武汉市</p>
        </li>
        <li>
            <span>户口所在地</span>
            <p>湖北省-宜昌市</p>
        </li>
        <li>
            <span>手机号码</span>
            <p>138****3689</p>
        </li>
        <li>
            <span>电子邮箱</span>
            <p>138****3689@163.com</p>
        </li>
        <li>
            <span>兴趣爱好</span>
            <p>我的兴趣爱好有很多...</p>
        </li>
    </ul>
    <div class="btn">保&nbsp;&nbsp;存</div>
</div>
