<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.moore.ctravel.homepage.mapper.HotAllMapper">
    <sql id="Hot_Experience">
        a.EXPERIENCE_DETAIL_ID
        ,a.EXPERIENCE_ID
        ,DESTINATION_ID
        ,TITLE
        ,SUBTITLE
        ,IMAGE_URL
        ,CONTENT_DESCRIPTION
        ,DESTINATION
        ,RENDEZVOUS
        ,CONTENT_DETAILS
        ,COMMENT
        ,REQUIREMENT
        ,PEOPLE_NUMBER
        ,SORT_NO
    </sql>

    <select id="getHotService" resultType="ltd.moore.ctravel.homepage.model.HomePageHotVO" >
        select a.SERVICE_TYPE_ID,  HOT_SERVICE_ID, SERVICE_NAME
        from HOT_SERVICE a,PUB_SERVICE_TYPE b WHERE a.SERVICE_TYPE_ID = b.SERVICE_TYPE_ID
    </select>

    <select id="getHotDestinations" resultType="ltd.moore.ctravel.homepage.model.HomePageHotVO" >
        select a.DESTINATION_ID,  HOT_DESTINATIONS_ID, DESTINATION
        from PUB_HOT_DESTINATIONS a,PUB_DESTINATION b WHERE a.DESTINATION_ID = b.DESTINATION_ID
    </select>

    <select id="getHotExperience" resultType="ltd.moore.ctravel.experience.model.ExperienceDetailVO" >
        select <include refid="Hot_Experience" />
        from PUB_EXPERIENCE_DETAIL a , HOT_EXPERIENCE b, PUB_EXPERIENCE c where a.EXPERIENCE_ID = b.EXPERIENCE_ID and b.EXPERIENCE_ID = c.EXPERIENCE_ID
    </select>

    <select id="getHotDestinationExperience" resultType="ltd.moore.ctravel.experience.model.ExperienceDetailVO" >
        select <include refid="Hot_Experience" />
        from PUB_EXPERIENCE_DETAIL a , PUB_HOT_DESTINATIONS_EXPERIENCE b, PUB_EXPERIENCE c where a.EXPERIENCE_ID = b.EXPERIENCE_ID and b.EXPERIENCE_ID = c.EXPERIENCE_ID and b.HOT_DESTINATIONS_ID = #{0}
    </select>
    <select id="getHotServiceExperienct" resultType="ltd.moore.ctravel.experience.model.ExperienceDetailVO" >
        select <include refid="Hot_Experience" />
        from PUB_EXPERIENCE_DETAIL a , GOUMENT_EXPERENCE b, PUB_EXPERIENCE c where a.EXPERIENCE_ID = b.EXPERIENCE_ID and b.EXPERIENCE_ID = c.EXPERIENCE_ID and b.HOT_SERVICE_ID = #{0}
    </select>
    <select id="getNotHotExperience" resultType="ltd.moore.ctravel.experience.model.ExperienceDetailVO" >
        select <include refid="Hot_Experience" />
        from PUB_EXPERIENCE_DETAIL a , PUB_EXPERIENCE c where a.EXPERIENCE_ID = c.EXPERIENCE_ID and a.EXPERIENCE_ID not in	( select distinct  EXPERIENCE_ID from HOT_EXPERIENCE)
    </select>
    <select id="getNotHotDestinationsExperience" resultType="ltd.moore.ctravel.experience.model.ExperienceDetailVO" >
        select <include refid="Hot_Experience" />
        from PUB_EXPERIENCE_DETAIL a , PUB_EXPERIENCE c  where a.EXPERIENCE_ID = c.EXPERIENCE_ID and a.EXPERIENCE_ID not in	( select distinct  EXPERIENCE_ID from PUB_HOT_DESTINATIONS_EXPERIENCE where HOT_DESTINATIONS_ID = #{0})
    </select>
    <select id="getNotHotServiceExperience" resultType="ltd.moore.ctravel.experience.model.ExperienceDetailVO" >
        select <include refid="Hot_Experience" />
        from PUB_EXPERIENCE_DETAIL a , PUB_EXPERIENCE c  where a.EXPERIENCE_ID = c.EXPERIENCE_ID and a.EXPERIENCE_ID not in	( select distinct  EXPERIENCE_ID from GOUMENT_EXPERENCE where HOT_SERVICE_ID = #{0})
    </select>
    <select id="addHotExperience" parameterType="String">
        insert into HOT_EXPERIENCE(HOT_EXPERIENCE_ID,  EXPERIENCE_ID) VALUES (#{1},#{0})
    </select>

    <select id="addHotDestinationExperience" parameterType="String">
        insert into PUB_HOT_DESTINATIONS_EXPERIENCE(HOT_DESTINATIONS_ID,  EXPERIENCE_ID, HOT_DESTINATIONS_EXPERIENCE) VALUES (#{2},#{0},#{1})
    </select>

    <select id="addHotServiceExperience" parameterType="String">
        insert into GOUMENT_EXPERENCE(GOUMENT_ID,  EXPERIENCE_ID, HOT_SERVICE_ID) VALUES (#{1},#{0},#{2})
    </select>

    <select id="deleteHotExperienct" parameterType="String">
        delete from HOT_EXPERIENCE where EXPERIENCE_ID = #{0}
    </select>

    <select id="deleteHotDestinationExperience" parameterType="String">
        delete from PUB_HOT_DESTINATIONS_EXPERIENCE where EXPERIENCE_ID = #{0}
    </select>

    <select id="deleteHotServiceExperience" parameterType="String">
        delete from GOUMENT_EXPERENCE where EXPERIENCE_ID = #{0}
    </select>
    <select id="getNotHotDestinations" resultType="ltd.moore.ctravel.experience.model.ExperienceDetailVO" >
        select DESTINATION_ID, DESTINATION
        from PUB_DESTINATION  where DESTINATION_ID not in	( select distinct  DESTINATION_ID from PUB_HOT_DESTINATIONS)
    </select>


    <select id="getNotHotService" resultType="ltd.moore.ctravel.homepage.model.HomePageHotVO" >
        select SERVICE_TYPE_ID, SERVICE_NAME
        from PUB_SERVICE_TYPE  where SERVICE_TYPE_ID not in	( select distinct  SERVICE_TYPE_ID from HOT_SERVICE)
    </select>
    <select id="addHotDestination" parameterType="String">
        insert into PUB_HOT_DESTINATIONS(HOT_DESTINATIONS_ID,  DESTINATION_ID) VALUES (#{1},#{0})
    </select>

    <select id="deleteHotDestination" parameterType="String">
        delete from PUB_HOT_DESTINATIONS where DESTINATION_ID = #{0}
    </select>

    <select id="deleteHotDestinationRelative" parameterType="String">
        delete from PUB_HOT_DESTINATIONS_EXPERIENCE where HOT_DESTINATIONS_ID = #{0}
    </select>

    <select id="deleteHotService" parameterType="String">
        delete from HOT_SERVICE where SERVICE_TYPE_ID = #{0}
    </select>
    <select id="deleteHotServiceRelative" parameterType="String">
        delete from GOUMENT_EXPERENCE where HOT_SERVICE_ID = #{0}
    </select>

    <select id="addHotService" parameterType="String">
        insert into HOT_SERVICE(SERVICE_TYPE_ID,  HOT_SERVICE_ID) VALUES (#{0},#{1})
    </select>
    <select id="getHotDestinationById" parameterType="String" resultType="String">
        select HOT_DESTINATIONS_ID from PUB_HOT_DESTINATIONS where DESTINATION_ID = #{0}
    </select>

    <select id="getHotServiceById" parameterType="String" resultType="String">
        select HOT_SERVICE_ID from HOT_SERVICE where SERVICE_TYPE_ID = #{0}
    </select>
</mapper>