
            <style>
                body{
                    background:#f2f2f2;
                    font-family:"Microsoft YaHei";
                    height:100%;
                    overflow-y:scroll;
                }
                .fl{
                    float:left;
                }
                .fr{
                    float:right;
                }
                .clearfix{
                    overflow:hidden;
                .zoom:1;
                }
                .content{
                    width:100%;
                }
                .infor{
                    padding:0.7rem 0.2rem;
                    background:#fff;
                }
                .infor .head{
                    display: flex;
                }
                .infor .head img{
                    width:1.6rem;
                    height:1.6rem;
                    padding-right:0.3rem;
                }
                .infor .head span{
                    font-size:0.3rem;
                    line-height:0.64rem;
                }
                .infor .head p{
                    font-size:0.26rem;
                    line-height:0.24rem;
                    color:#555;
                    line-height:0.46rem;
                }

                .preview{
                    margin:0.15rem 0.2rem;
                    color:#fff;
                    font-size:0.3rem;
                    background:#0F88EB;
                    line-height:0.94rem;
                    text-align:center;
                    border-radius:0.1rem;
                }
                dl{
                    padding:0 0.2rem 0.2rem;
                    background:#fff;
                    margin-top:0.1rem;
                }
                dl dt{
                    font-weight:normal;
                    color:#0F88EB;
                    font-size:0.24rem;
                    line-height:0.72rem;
                }
                dl dd{
                    color:#555;
                    font-size:0.24rem;
                    line-height:0.52rem;
                    overflow:hidden;
                    .zoom:1;
                }
                dl dd span:nth-child(1){
                    float:left;
                    width:40%;
                    color:#555;
                }
                dl dd span:nth-child(2){
                    float:left;
                    width:60%;
                    color:#555;
                }
                dl dd p{
                    line-height:0.36rem;
                    color:#333;
                }
                dl.other{
                    margin-top:0.02rem;
                }
                .delivery{
                    margin:0.15rem 0.2rem;
                    color:#fff;
                    font-size:0.3rem;
                    background:#0F88EB;
                    line-height:0.94rem;
                    text-align:center;
                    border-radius:0.1rem;
                }
            </style>
<div class="content">
    <div class="infor clearfix">
        <div class="head fl">
            <img src="img/head.png" alt="">
            <div class="fr" style="flex: 1">
                <span>Hidy&nbsp;|&nbsp;女</span>
                <p>求职状态：离职-随时到岗</p>
                <p>期望职位：UI设计师、产品经理、淘宝美工</p>
            </div>
        </div>
    </div>
    <!--个人信息-->
    <dl>
        <dt>个人信息</dt>
        <dd>
            <span>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</span>
            <span>Hidy</span>
        </dd>
        <dd>
            <span>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</span>
            <span>女</span>
        </dd>
        <dd>
            <span>出生日期</span>
            <span>2017年5月</span>
        </dd>
        <dd>
            <span>现居住城市</span>
            <span>湖北省-武汉市</span>
        </dd>
        <dd>
            <span>户口所在地</span>
            <span>湖北省-宜昌市</span>
        </dd>
        <dd>
            <span>手机号码</span>
            <span>138****1234</span>
        </dd>
        <dd>
            <span>电子邮箱</span>
            <span>138****1234@163.com</span>
        </dd>
        <dd>
            <span>兴趣爱好</span>
            <span>我的兴趣爱好非常多非常多非常多非常多非常多非常多非常多非常多非常多</span>
        </dd>
    </dl>
    <!--教育经历-->
    <dl>
        <dt>教育经历</dt>
        <dd>
            <span>在读时间</span>
            <span>2005.09-2009.06</span>
        </dd>
        <dd>
            <span>学校名称</span>
            <span>武汉窗友科技大学</span>
        </dd>
        <dd>
            <span>学历&nbsp;/&nbsp;学位</span>
            <span>本科</span>
        </dd>
        <dd>
            <span>所学专业</span>
            <span>UI设计</span>
        </dd>
    </dl>
    <!--工作实习经历-->
    <dl>
        <dt>工作&nbsp;/&nbsp;实习经历</dt>
        <dd>
            <span>在职时间</span>
            <span>2005.09-2009.06</span>
        </dd>
        <dd>
            <span>公司名称</span>
            <span>武汉窗友科技有限公司</span>
        </dd>
        <dd>
            <span>职位名称</span>
            <p>UI设计</p>
        </dd>
        <dd>
            <span>职位描述</span>
            <span>Web应用的设计与开发；
                Javascript数据处理；
                复杂Ajax交互开发
               </span>
        </dd>
    </dl>
    <dl class="other">
        <dd>
            <span>在职时间</span>
            <span>2005.09-2009.06</span>
        </dd>
        <dd>
            <span>公司名称</span>
            <span>武汉窗友科技有限公司</span>
        </dd>
        <dd>
            <span>职位名称</span>
            <span>UI设计</span>
        </dd>
        <dd>
            <span>职位描述</span>
            <span>Web应用的设计与开发；
                Javascript数据处理；
                复杂Ajax交互开发
            </span>
        </dd>
    </dl>
    <!--项目经验-->
    <dl>
        <dt>项目经验</dt>
        <dd>
            <span>项目时间</span>
            <span>2005.09-2009.06</span>
        </dd>
        <dd>
            <span>项目名称</span>
            <span>窗友客户端</span>
        </dd>
        <dd>
            <span>职位描述</span>
            <span>Web应用的设计与开发；
                Javascript数据处理；
                复杂Ajax交互开发</span>
        </dd>
    </dl>
    <!--专业技能-->
    <dl>
        <dt>专业技能</dt>
        <dd>
            <span>专业技能</span>
            <span>Adobe Photoshop</span>
        </dd>
        <dd>
            <span>熟练程度</span>
            <span>一般</span>
        </dd>
    </dl>
    <dl class="other">
        <dd>
            <span>专业技能</span>
            <span>Adobe Photoshop</span>
        </dd>
        <dd>
            <span>熟练程度</span>
            <span>一般</span>
        </dd>
    </dl>
    <!--在校学习情况-->
    <dl>
        <dt>在校学习情况</dt>
        <dd>
        <span>获奖时间</span>
        <span>2015.09-2009.06</span>
    </dd>
        <dd>
            <span>奖项名称</span>
            <p>国家奖学金</p>
        </dd>
        <dd>
            <span>奖项名称</span>
            <span>国家级一等奖</span>
        </dd>
        <dd>
            <span>奖项描述</span>
            <span>这个奖非常好非常好非常好非常好非常好非常好</span>
        </dd>
    </dl>
    <!--证书-->
    <dl>
        <dt>证书</dt>
        <dd>
            <span>获得时间</span>
            <span>2015.09</span>
        </dd>
        <dd>
            <span>证书名称</span>
            <span>计算机二级</span>
        </dd>
    </dl>
    <div class="delivery" ui-sref="tabindex.index">
        <span>去投递</span>
    </div>
</div>
