
<div class="">
    <ion-view>
        <ion-content class="main1_center">
            <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>

            <ul class="qz_list">

                <li>
                    <div class="qz_left_pic">
                        <img src="img/zanwupic.png" ui-sref="zhiweicenter">
                    </div>
                    <div class="qz_right_xx">
                        <div class="qz_wenzi qz_zhiwei">
                            <div class="wenzi_qian" ui-sref="zhiweicenter">急聘2017届管理实习生生生生生生生生生生生</div>
                            <div class="wenzi_hou">2k-3k</div>
                        </div>
                        <div class="qz_wenzi qz_gongsi">
                            <div class="wenzi_qian" ui-sref="qiyecenter">武汉金森医药科技有限公司司司司司司司司司司</div>
                            <div class="wenzi_hou">5分钟前</div>
                        </div>
                        <div class="qz_wenzi qz_tiaojian">
                            <div class="wenzi_qian"> 武汉-武昌区／学历不限／本科 武汉-武昌区／学历不限／本科</div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="qz_left_pic">
                        <img src="img/zanwupic.png">
                    </div>
                    <div class="qz_right_xx">
                        <div class="qz_wenzi qz_zhiwei">
                            <div class="wenzi_qian">急聘2017届管理实习生生生生生生生生生生生</div>
                            <div class="wenzi_hou">2k-3k</div>
                        </div>
                        <div class="qz_wenzi qz_gongsi">
                            <div class="wenzi_qian">武汉金森医药科技有限公司司司司司司司司司司</div>
                            <div class="wenzi_hou">5分钟前</div>
                        </div>
                        <div class="qz_wenzi qz_tiaojian">
                            <div class="wenzi_qian"> 武汉-武昌区／学历不限／本科 武汉-武昌区／学历不限／本科</div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="qz_left_pic">
                        <img src="img/zanwupic.png">
                    </div>
                    <div class="qz_right_xx">
                        <div class="qz_wenzi qz_zhiwei">
                            <div class="wenzi_qian">急聘2017届管理实习生生生生生生生生生生生</div>
                            <div class="wenzi_hou">2k-3k</div>
                        </div>
                        <div class="qz_wenzi qz_gongsi">
                            <div class="wenzi_qian">武汉金森医药科技有限公司司司司司司司司司司</div>
                            <div class="wenzi_hou">5分钟前</div>
                        </div>
                        <div class="qz_wenzi qz_tiaojian">
                            <div class="wenzi_qian"> 武汉-武昌区／学历不限／本科 武汉-武昌区／学历不限／本科</div>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="nodata" ng-if="dataNull">没有更多了</div>
            <!-- ion-infinite-scroll 上拉加载数据指令 distance默认1% nf-if的值为false时，就禁止执行on-infinite  -->
            <ion-infinite-scroll ng-if="moredata" on-infinite="loadMore()" distance="1%" >没有更多了</ion-infinite-scroll>
        </ion-content>
    </ion-view>
</div>
