body {
    margin: 0 auto;
    -webkit-touch-callout: none;
    /*//禁止或显示系统默认菜单*/
    /* 禁止用户选择文本；也可以设置指定区域文本选择*/
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
     
} 
 
.live-int {
    width: 14rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    font-size: 1.4rem;
    color: #ffffff;
    background: #333333;
    opacity: 0.7;
    filter: alpha(opacity=70);
    top: 70%;
    left: 50%;
    z-index: 20;
    border-radius: 1rem;
    
    margin-left: -7rem
}
main{flex: 1;overflow-y: scroll;margin:1rem 1.5rem 0rem;background: #ffeef6;padding-bottom: 2rem}
main::-webkit-scrollbar{display:none;}
.head-box{;width: 100%;border-bottom: .2rem solid #ffffff;padding-bottom: 1rem}
.utterer-box{width: 100%;height: 6rem;width: 100%;}
.utterer-img{width: 4rem;height: 4rem;border-radius: 50%;margin: 1rem }
.utterer-img img{width: 100%;height: 100%;border-radius:50%}
.hd-r{height: 4rem; margin: 1rem}
.hd-p1{height: 2rem;line-height: 2rem;font-size: 1.2rem;color: #363335;white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;}
.hd-p2{height: 2rem;line-height: 2rem;font-size: 1rem;color: #575757;text-decoration: none}
abbr[title] {
    border-bottom: 0;
    text-decoration: none;
}
.utterer{font-size: 1.1rem;line-height: 2rem;margin-left: 6rem;color:#363335;margin-right: .5rem;word-break: break-all;
    word-wrap: break-word;/*自动换行*/}
.expressTo {
    font-size: 1.2rem;
    text-align: right;
    margin-right: 1rem;
    margin-top: 1rem;
}
/*.comment-img{width: 3rem;height: 3rem;margin: 1.5rem;}*/
.comment-img{height: 4rem;margin: 0rem 0.5rem 0rem 1.5rem;line-height:4rem;font-size: 1.1rem;color:#980065}
/*.comment-img img{width: 100%;height: 100%;border-radius: 50%}*/
.comment-box{width: 100%;margin-top: 0.5rem}
.comment-con{width: 70%;margin-top: 0.5rem;font-size: 1.1rem;line-height: 2rem;background: #ffffff;padding: .5rem;color: #363335;word-break: break-all;
    word-wrap: break-word;/*自动换行*/;border-radius: 0.5rem}
.time{font-size: 1rem;color:#546BE1;}


 
.message {
    width:100%;height: 3rem;background:#EEEEEE; padding-top: .6rem;padding-bottom: .6rem;

}

.mess_inp {
    display: inline-block; width: 80%;height:100%; border-radius: .5rem; font-size: 1.2rem;color: #333333;margin-left: 4%;margin-right: 3%;
}

.mess-send {
    display: inline-block;width: 13%;text-align: left;line-height: 3rem;font-size: 1.2rem;color: #546BE1;font-weight: bolder;
}